<img align="center"  valign="middle" src="images/banner.jpg" width="1000" height="150">
<br>
<br>

<h2>You are signed in as $username</h2>


<form action="main.pl.cgi" method=POST>
<input type="hidden" name="logout">
<input type="submit" value="logout" class="btn btn-primary btn-large"></form>

<form action="main.pl.cgi" method=POST>
<input type="hidden" name="about">
<input type="submit" value="Stats" class="btn btn-primary btn-large"></form>

<form action="main.pl.cgi" method=POST>
<input type="hidden" name="profile">
<input type="submit" value="My Profile" class="btn btn-primary btn-large"></form>


<form action="main.pl.cgi" method=POST>

	<select name="play_id">
		$play_options
	</select>
	
	<select name="numseats">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="100000">8</option>
	</select>

<input type="submit" value="Order" class="btn btn-primary btn-large"></form>