<p> <font color="red">The username and password comination entered are invalid <br>
	Please try again or register if you do not have a valid account </font> </p>

<h1>Got an account? Signin!</h1>
<form action="main.pl.cgi" method=POST>
<input type="text" name="username" placeholder="Your Userame">
<input type="password" name="password" placeholder="Your Password">
<input type="submit" value="Enter" class="btn btn-primary btn-large"></form>

<h1>Don't got no account? Signup!</h1>

<form action="main.pl.cgi" method=POST>	
<input type="text" name="new_username" placeholder="Your Userame">
<input type="password" name="new_password" placeholder="Your Password">
<input type="password" name="confirm_password" placeholder="And Again...">
<input type="submit" value="Enter" class="btn btn-primary btn-large"></form>